@page {
    header: header;
    footer: footer;
    margin-top: 30mm;
    margin-bottom: 15mm;
} 

body{
    line-height: 1.5em;
    font-family: Arial;
}

.text-center{
    text-align: center
}

.text-right{
    text-align: right
}

.text-left{
    text-align: left;
}

.text-justify{
    text-align: justify;
}

.mylsa{
    width: 5cm;
    float:left;
}

.text-header{
    float: right;
    margin-top: 0.5cm;
}

.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.page-break{
    page-break-before: always;
}

.table{
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table th{
    padding: 0.5rem;
    background: #0E185F;
    color: #ececec;
}

.table td, th{
    padding: 0.5rem;
}

.table tr{
    border: 1px solid #ededed;
}

.table-striped tr.even {
    background-color: #ececec;
}

.table tr.total{
    border: 0;
}

.w-full{
    width: 100%;
}

.w-50{
    width: 50%;
}

.pt-2{
    padding-top: 0.5rem;
}